<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<body>
	<h2>Choose the content of each square</h2>
	<h4>for each cell choose an element type and an index</h4>
	<h4>for elemnt which spreads along more then one cell, mention the same type and index combination</h4>
	<h4>for seperate elements of the same type, choose different index</h4>
	<h4>its recommanded to play with the size of the scree... (later ill make i automatically)</h4>
	<div style="max-width: 1200px; margin: 0 auto; padding 10px;">"
	<h5>Choose the number of items in a row</h5>
		<div class="container-fluid">
			<div class="row">
				{% for i in "xxxxxxxxxxxx" %}
				    <div class="col-md-1">
					    <p>Box {{ forloop.counter }}</p>
				    	<select name="col{{ forloop.counter }}">
				    	  	<option value="">Text Area</option>
				    	  	<option value="">Picture</option>
				    	  	<option value="">Slide</option>
				    	  	<option value="">Form</option>
				    	</select>
			    	</div>
		    	{% endfor %}
			</div>
		</div>
	</div>
</body>
<!-- better to make an intrpduction page to this stage, to explain how it works 
<div class="col-xs-1 col-sm-4 col-md-2 col-lg-1">-->