{% extends "general/base.html" %}
{% block content %}

<head>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js">//base template has slim version</script> 
	{% load static %}
		<script src="{% static 'content_panel.js' %}"></script>
	<script>
		$(document).ready(function(){
			{% if page.background_img %} //when 'if' condition was written by javascript, if was not anyexisting background image, django raised an error
				$('.mainDiv').css("background-image", "url('{{page.background_img.url}}')");
				//$('.mainDiv').css("background-position", "center");
				$('.mainDiv').css("background-repeat", "no-repeat");
			{% endif %}
			var refferPage = "{{request.META.HTTP_REFERER}}"
			if (refferPage.indexOf('content_obj_properties') !== -1){
				console.log("found it inside")
				disActivateTutorial()
			} else {
				console.log("did NOT found it inside")
				initializeTutorial()

			}
		})
		//When transfering the ajax function to a seperate javascript file, a csrf token error is rising, is decided to keep it here for this stage and not looking for alternative ways to pass the csrf_token
		function contentActions(url, cFunction, contentBoxDiv, contId){
			console.log("type",url)
			var data = {}	
			contentBox = contentBoxDiv
			//data["block_props"] = contentBox.attr('value') // might use later  name or other parameter
			if ($(contentBoxDiv).parent().hasClass("blocks") ){ //only when working with content in/dropped in the page's block, not when drop at the page unattached div.
				data["row_id"] = contentBoxDiv.parent().parent().attr('value')
				data["col_id"] =contentBoxDiv.parent().attr('value')
				data["sub_row_id"] =contentBoxDiv.attr('value')
			}
			data["content_id"] = contId //will be none in case not sent (during Block actions)
			$.ajax({
			    url: url+"/",
			    type: "POST",
			    dataType: 'json',
			    data: data,
			    headers:{
			        "X-CSRFToken": '{{csrf_token}}'
			    },
			    success: function(response) {
			    //	alert("Awsome")
			    	console.log("checking if data, is the view data or the data from before")
			    	console.log(response.content_edit_url)
			    	cFunction(contentBox, response);
			    },
			    error: function(XMLHttpRequest, textStatus, errorThrown) { 
			            alert("Status: " + textStatus); alert("Error: " + errorThrown);
			    }
			});
		}

		function tutorial_stage(){
			tutorial_box = $("#tutorial");
			var message;
			if (tuto_stage == 0){
				message = "Have you seen how the Content relocated at the Dropped in container? Now Please Click the Up or Down Arrows for a block with more then one piece of content inside"
				tuto_update($(".contentBox"), message, $(".moveContentUp, .moveContentDown"))
				console.log("enter tuto stage 0")
				return
			}
			if (tuto_stage == 1){
				message = "Nice! Please Click and Drag one of the Contents, and Drop It in a the Page's UnDisplayed Contents Area"
				tuto_update($(".moveContentUp, .moveContentDown"), message, $("#unAttachedConts"))
				return
			}
			if (tuto_stage == 2){
				message = "Notice that you can drop Undisplayed contents back in a container anytime (you can try it right now). Now Click on Content's Delete Button to delete a Content, then click Yes for the message displayed"
				tuto_update($("#unAttachedConts"), message, $(".delContentButt"))
				$("#unAttachedConts").css("border", "solid DodgerBlue")
				return
			}
			if (tuto_stage == 3){
				message = "Click The Preview Button to see a Preview of this page"
				tuto_update($(".delContentButt"), message, $("#preview"))
				return
			}
			if (tuto_stage == last_tuto_stage){
				message = "Congratulations! You have reached the end of the tutorial. You can now Edit / Delete (notice the 'Delete All Contents' button at the top of this box) the auto contents and start Adding New ones. You can combine Text and Images to match your needs. You are able to click the Preview button anytime to see your results. WhenEver You feels like the page is Ready, click the Finish Button below. Do Not Worry, you will be able to edit the page anytime."
				tuto_update($("#preview"), message )
				$("#deleteAutoContents").show()
				return
			}

		}

		function allowDrop(ev) {
		  ev.preventDefault();
		}

		function drag(ev) {
		  ev.dataTransfer.setData("text", ev.target.id);
		  console.log("entered data from transfer")
		}

		function dropInBlock(ev, elem) { //seperate later and can call dropInBlock. and other dropInPage
		  dropInUserSide(ev, elem)
		  titlesOrContents(elem, 'contents')
		  elem.appendChild(elem.querySelector(".addContentLink")) //push to be the last child
		  contentActions("relateToBlock", fitAttrForBlock, $(contentElem), $(contentElem).attr("id"))
		  if (tuto_stage == 0){
		  	tutorial_stage();
		  }
		}

		function dropInPage(ev, elem) {
		  dropInUserSide(ev, elem)
		  titlesOrContents(elem, 'titles')
		  contentActions("relateToPage", fitAttrForPage, $(contentElem), $(contentElem).attr("id"))
		  if (tuto_stage == 2){
		  	tutorial_stage();
		  }
		}

		function dropInUserSide(ev, elem){
			ev.preventDefault();
			var data = ev.dataTransfer.getData("text");
			contentElem = document.getElementById(data)
			elem.appendChild(contentElem);
		}

		function titlesOrContents(elem, parttoshow){
			var conTitleBox = $(contentElem).children(".contentTitle") 
			var actualCont = $(contentElem).children(".acctualContent") 
			if (parttoshow=='titles'){
				console.log("entered the titles area")
				actualCont.hide()
				conTitleBox.show()
				$(contentElem).children(".contentsButtons").hide()
			}
			else if(parttoshow=='contents') {
				console.log("entered the contents area")
				actualCont.show()
				conTitleBox.hide()
				$(contentElem).children(".contentsButtons").show()
			}
		}


		function fitAttrForBlock(contBox, response){
			console.log("sub row id", response.sub_row_id)
			contBox.attr("value", response.sub_row_id)
			/*Note: building the requierd url at the view was necessary, because we wouldn't be
			able to use template tags with the ajax returned variables, because template tags
			are server side and will be evaluated before the ajax will be activate.*/
			$(contBox).find(".editContLink").attr("href", response.content_edit_url)
			if ($(contBox).find(".contentImage")){
				$(contBox).find(".contentImage").attr("width", response.block_width*80)
			}
		}

		function fitAttrForPage(contBox){
			contBox.attr("value", "") //Because there is no sub_row_id
			$(contBox).find(".editContLink").attr("href","")
		}

		$(document).ready(function(){
			$("#preview").on('click', function(){
				if (tuto_stage == 4){
					tutorial_stage();
				}
			})
		})

		function tuto_update(previous_marked_elem, new_text, new_marking_elem)
		{
			previous_marked_elem.css("border", "")
			if (new_marking_elem) {
				new_marking_elem.css("border", "3px solid red")
			}
			tutorial_box.text(new_text)
			tuto_stage++
			current_tuto_marked_elem = new_marking_elem //documenting for usage in other functions
		}

		$(document).ready(function(){
			$("#skipToturial").on('click', function(){
				disActivateTutorial()
				current_tuto_marked_elem.css("border", "") //disactivation visual instructions
				if (current_tuto_marked_elem == $("#unAttachedConts")){ //private case for default background
					$("#unAttachedConts").css("border", "solid DodgerBlue")
				}
			});
		});

		function disActivateTutorial(){
			$("#skipToturial").hide()
			$("#tutorial").hide()
			$("#tutorial").text("")
			$("#activateTutorial").show()
			$("#deleteAutoContents").show()
			tuto_stage = -1
		}

		$(document).ready(function(){
			$("#activateTutorial").on('click', function(){
				initializeTutorial()
			});
		});

		function initializeTutorial(){
			$("#activateTutorial").hide()
			$("#skipToturial").show()
			$("#tutorial").show()
			$("#deleteAutoContents").hide()
			tuto_stage = 0
			$(".mainDiv .contentBox").css("border", "3px solid red")
			current_tuto_marked_elem = $(".mainDiv .contentBox")
			$("#tutorial").append("<p>Welcome to the page Content Editor</p>				<p>With this Tool, You will be able to Manage and Insert Content into the Structure You Have designed at the previous stage</p>				<p>To begin, Please Click and Drag one of the Contents (marked with red frame), and Drop It in a Different Block</p><p>Notice that dragging an image to a different sized container will automatically change the image\'s dimensions to fit it's new container</p>")

		}


		$(document).ready(function(){
			$(".editContent, .addContent").on('click', function(ev){
				console.log("tuto_stage ",tuto_stage)
				if (!((tuto_stage == -1) || (tuto_stage == last_tuto_stage+1))){
					ev.preventDefault();
					alert("Please Finish the tutorial or click the 'Skip Tutorial' button before pressing the Add Content / Edit Content buttons.")
				}
			})
		})

		$(document).ready(function(){
			$("#deleteAutoContents").on('click', function(){
				if(confirm("This Action will Delete the entire page contents Permanently, are you sure you want to make this action?")){
					contentActions("deleteallcontents", deleteAllContents)
					alert("Note that you can recreate example content by creating a New Page. you can also restore an example website (i.e traveling blog) by creating a New User")
				} else {
					return false
				}
			})
		})

		function deleteAllContents(){
			$(".contentBox").each(function(){
				$(this).remove()
			})
		} 

		var last_tuto_stage = 4
		var tuto_stage
		var current_tuto_marked_elem

		

	</script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style type="text/css">
		div {
		    word-wrap: break-word;        
		    overflow-wrap: break-word;     
		}
		#action {
		  position: fixed;
		  bottom: -4px;
		  right: 10px;
		}

		.examples {
	    padding-top: 30px;
	    padding-bottom: 30px;
	    padding-right: 10px;
	    padding-left: 10px;
		}
		a {
		    color: inherit;
		    text-decoration: none;
		}

		h2 {
		  text-align: center;
		}

		a:hover 
		{
		     color:inherit; 
		     text-decoration:none; 
		     cursor:pointer;  
		}

		#unAttachedConts {
			min-height: 50px;
		}

		.#preview {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

	</style>
</head>
<body>
	<div style="max-width: 1200px; margin: 0 auto; padding 10px;">
		<div class="container-fluid">
			<h2><b>Page Content Editor</b></h2><br>
			<button id="skipToturial" type="button" style="display:none;">Skip Tutorial</button>
			<button id="activateTutorial" type="button" style="display:none;">Activate Tutorial</button>
			<button id="deleteAutoContents" type="button" style="display:none;">Delete All Contents</button>
			<div id="tutorial" style="display:none;">
			</div>
			<a href="{% url 'page' website.web_url page.id %}" target="_blank">
				<button type="button" title="Show Preview of the page" id="preview" style="width: 20%; margin-left: 40%; margin-right: 40%;">Page Preview</button>
			</a>
			<h3>Page's UnDisplayed contents (by Titles):</h3>
			<div class="row temp" id="unAttachedConts" ondrop="dropInPage(event, this)" ondragover="allowDrop(event)" style="border-style: solid; border-color: DodgerBlue;">
				{% for content in page.content.all %}
					<div class="contentBox" id="{{content.id}}" draggable="true" ondragstart="drag(event)">
						<div class="contentTitle" style="text-align: center; font-size: 16; font-weight: bold; font-family: Impact, Charcoal, sans-serif;">
							<h3>{{content.title}}&nbsp;&nbsp;&nbsp; &nbsp;</h3>
						</div>
						<div class="acctualContent" style="text-align: {{content.textcontent.align}}; font-size:{{content.textcontent.size}}; color: {{content.textcontent.color}}; font-weight: {{content.textcontent.bold}}; display: none">
							{% if content.existingContentType == 'textcontent' %}
								{{ content.textcontent.text|linebreaksbr }}
							{% else %}
								<img class="contentImage" src="{{content.imagecontent.image.url}}" alt="{{content.title}}" width="{% widthratio block.width 1 80 %}" draggable="false">
							{% endif %}
						</div>
						<div class="contentsButtons" style="display: none;">
							<br>
							<a href="" class="editContLink">
								<button class="glyphicon glyphicon-edit editContent  type="button" name="cell_num_edit" title="Update Content" ></button>
							</a>
							<button type="button" class="glyphicon glyphicon-arrow-up moveContentUp"  title="Click to Slide the current Content cell Up"></button>
							<button class="glyphicon glyphicon-arrow-down moveContentDown" type="button" title="Click to Slide the current Content cell Down"></button>
							<button type="button" class="glyphicon glyphicon-remove delContentButt" name="cell_num_delete" title="click to Delete the Content"></button><br>
						</div>
					</div>
				{% endfor %}
			</div>
			<br><br>
			<h3>Page's Structure and Contents</h3>
			<div class="mainDiv">
				{% for row in page.row_set.all %} 
					<div class="row" value="{{row.row_id}}">
					{% for block in row.block_set.all %}
						<div style="border-style: solid; border-color: DodgerBlue; text-align: center;" class="col-md-{{ block.width }} offset-md-{{ block.distance }} blocks" ondrop="dropInBlock(event, this)" ondragover="allowDrop(event)" value="{{block.col_id}}">
							{% for content in block.content.all %}
								<div class="contentBox" id="{{content.id}}" draggable="true" ondragstart="drag(event)" value="{{content.sub_row_id}}" style="margin-top: 10px;"">
									<div class="contentTitle" style="text-align: center; font-size: 16; font-weight: bold; font-family: Impact, Charcoal, sans-serif; display: none">
										<h3>{{content.title}}&nbsp;&nbsp;&nbsp; &nbsp;</h3>
									</div>
									<div class="acctualContent" style="text-align: {{content.textcontent.align}}; font-size:{{content.textcontent.size}}; color: {{content.textcontent.color}}; font-weight: {{content.textcontent.bold}};">
										{% if content.existingContentType == 'textcontent' %}
											{{ content.textcontent.text|linebreaksbr }}
										{% else %}
											<img class="contentImage" src="{{content.imagecontent.image.url}}" alt="{{content.title}}" width="{% widthratio block.width 1 80 %}" draggable="false">
										{% endif %}
									</div>
									<div class="contentsButtons">
										<br>
										<a href="{% url 'miniwebs:content_obj_properties' website.id page.id row.row_id block.col_id content.sub_row_id %}" class="editContLink">
											<button class="glyphicon glyphicon-edit editContent  type="button" name="cell_num_edit" title="Update Content" ></button>
										</a>
										<button type="button" class="glyphicon glyphicon-arrow-up moveContentUp"  title="Click to Slide the current Content cell Up"></button>
										<button class="glyphicon glyphicon-arrow-down moveContentDown" type="button" title="Click to Slide the current Content cell Down"></button>
										<button type="button" class="glyphicon glyphicon-remove delContentButt" name="cell_num_delete" title="click to Delete the Content"></button><br>
									</div>
								</div>
							{% endfor %}
							<a class="addContentLink" href="{% url 'miniwebs:content_obj_properties' website.id page.id row.row_id block.col_id block.highestSubRow|add:1 %}">
								<button  type="button" style="margin: 10px;" class="addContent" name="cell_num_add" title="Add Content">Add Content</button>
							</a>
						</div>
					{% endfor %}
					</div>
				{% endfor %}
			</div>
		</div>
		<br>
		<div style="text-align:center;">
			<a href="{% url 'miniwebs:panel' website.id 'page' %}">
				<button type="button" value="finish">Finish</button>
			</a>
		</div>
		<br>
		<br>
	</div>
</body>
{% endblock content %}