{% extends "general/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div style="max-width: 600px; margin: 0 auto; padding 10px;">
	<div class="userInstructionsDiv">
		<h1 class="userInstructionsText"><b>Dear User, for an optimal project demonstration, please quickly create a system user</b></h1>
	</div>
	<form method="POST" id="regForm">
		{% csrf_token %}
		<fieldset>
			<legend>Join Today</legend>
			{{ form|crispy }}
		</fieldset>
		<div>
			<button type="submit">Sign Up</button>
		</div>
	</form>
	<div>
		<medium>
			Already have an account? <a href=""{% url 'login' %}"">Sign in</a>
		</medium>
	</div>
</div>
{% endblock content %}

